@font-face {
    font-family: 'life';
    src: url('../Lifelogo\ Easy.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');



body {
    margin: 0;
    padding: 0;
    background-image: url('../images/fundo4.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 100px;
}

main {
    padding-top: 100px;
    padding-bottom: 100px;
}
.perfil {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    
}
.perfil img {
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: 4px solid #ff7bb2;
    box-shadow: 1px 3px 15px #ffff;
}
h1 {
    font-family: 'life';
    color: #ff7bb2;
    font-size: 50px;
    line-height: 50px;
    text-shadow: 2px 2px 2px #fff;
    padding-bottom: 0;
    
}
p {
    color: #fff;
    font-size: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
    margin-top: 10px;
    margin-bottom: 20px;
    text-shadow: 1px 2px 2px #000;
}

.content-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.buttons-area {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
}
.buttons-area a {
    text-decoration: none;
    color: #fff;
    padding: 20px 200px;
    background-color: #ff7bb2;
    margin-bottom: 20px;
    border-radius: 20px;
    font-family: 'Fuzzy Bubbles', cursive;
    font-size: 20px;
    font-weight: bold;
    border: 2px solid #fff;
    box-shadow: 2px 2px 10px #000;
    
}

#button-encomendar {
    animation: button-encomendar 2s ease 0s infinite normal forwards;
}

.buttons-area a:hover {
    animation: button-encomendar 2s ease 0s infinite normal forwards;
}




/* Animações*/

@keyframes button-encomendar {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}



@keyframes mybutton {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}

	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}

	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}

	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}

	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}